.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

  div {
    border: 1px solid black;
  }
}

.grid-nav {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.grid-sidebar {
  grid-row: 2 / 4;
}
