.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "head head head head"
    "side . . ."
    "side . . .";
  div {
    border: 1px solid black;
  }
}

.grid-nav {
  grid-area: head;
  background: blue;
}

.grid-sidebar {
  grid-area: side;
  background: green;
}

.grid-content {
    grid-area: content;
}