div,
p,
h6 {
  box-sizing: border-box;
  margin: 0px;
}

.container {
  background-color: grey;
  width: 100%px;
  height: 800px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.content div {
  text-align: center;
  padding: 20px;
}

.content p {
  font-size: 10px;
}

.content-item i {
  font-size: 40px;
  margin-bottom: 10px;
  background-color: beige;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding-top: 30px;
  box-sizing: border-box;
}

.shop-bg {
  background-color: #eee;
  padding: 20px;
  z-index: 2;
}

.shop-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.shop-item {
  width: 33%;
  padding: 10px;
}

.shop-item img {
  width: 100%;
}

img {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  font-size: 20px;
  transition: all 1s;
  z-index: 1;
  transform: translateY(100%);
  transition: all 1s;
}

.overlay p {
  transform: translateY(0);
  color: white;
  margin: 20px;
  font-size: 2em;
}

.overlay:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
