.flip-outer {
  width: 300px;
  height: 300px;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;

  &:hover {
    transform: rotateY(180deg);
  }

  .front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  .back {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background: orange;
  }
}
