$normal-size: 10px;
// 변수

%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.box-red {
  background: red;
  @extend %box;
}

.box-blue {
  background: blue;
  @extend %box;
}

.box-green {
  background: green;
  @extend %box;
}

@mixin test() {
  font-size: 30px;
  letter-spacing: -1px;
}


h2 {
  font-size: 30px;
  letter-spacing: -1px;
}

h3 {
  font-size: 20px;
  letter-spacing: -1px;
}

h4 {
  font-size: 10px;
  letter-spacing: -1px;
}
