$main-color: rgb(105, 164, 253);
$side-color: rgb(196, 196, 196);

.list-1 {
  list-style: none;

  li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid $side-color;
    margin-top: -1px;
  }

  li:hover {
    background: $main-color;
    color: white;
    border: 1px solid $main-color;
    position: relative;
  }
}

.alert {
  height: 40px;
  width: 800px;
  background: green;
  color: darken(green, 20%);
}
