$main-color: rgb(105, 164, 253);
$side-color: rgb(196, 196, 196);

.list-1 {
  list-style: none;

  li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid $side-color;
    margin-top: -1px;
  }

  li:hover {
    background: $main-color;
    color: white;
    border: 1px solid $main-color;
    position: relative;
  }
}

.alert-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@mixin alert-style($color, $before-text) {
  padding-left: 20px;
  margin: 10px;
  height: 60px;
  width: 800px;
  background: $color;
  color: darken($color, 40%);
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 444;
  ::before {
    content: $before-text;
    font-weight: bold;
  }
}

.alert1 {
  @include alert-style(rgb(77, 245, 77), "Well done! ");
}

.alert2 {
  @include alert-style(rgb(81, 156, 255), "Heads up! ");
}

.alert3 {
  @include alert-style(rgb(255, 197, 88), "Warning! ");
}

@mixin row-style($height, $width) {
  display: flex;
  height: $height;
  width: $width;
  margin-bottom: 10px;
  text-align: center;
}

@mixin col-style($col, $width) {
  #{$col} {
    width: $width;
  }
}

.row {
  @include row-style(60px, 1000px);

  div {
    background: rgb(209, 209, 209);
    border: 1px solid rgb(75, 75, 75);
  }

  @include row-style("col-6", 50%);

  .col-4 {
    width: 33%;
  }

  .col-3 {
    width: 25%;
  }
}
