:root {
  --color-border-main: #cccccc;
  --color-bg-main: #f3f3f3;
}

body {
  background: rgb(235, 235, 235);
}

.left-content {
  width: 20%;
  border: 2px solid var(--color-border-main);
  background: var(--color-bg-main);
  border-radius: 4px;
  box-shadow: 4px 4px 0px 4px #a1a1a1;
  margin: auto;
}
