table {
  box-sizing: border-box;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 10px;
}

td,
th {
  border-bottom: 2px solid #ccc;
  text-align: left;
}

thead {
  height: 13px;
}

tbody th {
  height: 60px;
}

div {
  box-sizing: border-box;
}

.container {
  background-color: rgb(140, 194, 196);
  height: 400px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 80%;
  width: 80%;
}

.shopping-cart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.shopping-cart p {
  margin: 0px;
}

.shopping-cart h4 {
  margin: 0px;
}

.shopping-cart img {
  width: 50px;
  height: 40px;
}

.shopping-cart td:nth-child(n + 3):nth-child(-n + 5),
.shopping-cart th:nth-child(n + 3):nth-child(-n + 5) {
  text-align: right;
}

.shopping-cart tbody tr:last-child th,
.shopping-cart tbody tr:last-child td {
  border-bottom: none;
}

.pay-btn {
  float: right;
  background-color: darkblue;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pay-btn:hover {
  color: aqua;
  background-color: chocolate;
}

.pay-btn:active {
  background-color: brown;
}

.pay-btn:focus {
  background-color: grey;
}

.edit {
  color: black;
}

.input-test {
  font-size: 20px;
}

.input-test:focus {
  border: 4px solid red;
  border-bottom: 5px solid blue;
}
