.item-card-box {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.card {
  padding: 10px;
}

.card-img-top {
  max-width: 300px;
  height: 200px;
}

.cart-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: auto;
  height: 300px;
  font-size: 20px;
  color: white;
  pointer-events: none;
  gap: 8px;
  padding: 10px;
}

.hidden {
  display: none;
}
