progress::-webkit-progress-inner-element {
  appearance: none;
}

progress::-webkit-progress-bar {
  appearance: none;
  background: red;
  color: red;
  width: 50px;
  height: 50px;
}

progress::-webkit-progress-value {
  appearance: none;
  background: red;
  color: red;
  width: 50px;
  height: 50px;
}
