$main-color: rgb(172, 120, 255);
$sub-color1: rgb(44, 44, 44);
$sub-color2: rgb(141, 141, 141);

div {
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 1000px;
  display: flex;
  position: relative;
}

.side {
  gap: 20px;
  background: $main-color;
  height: 100%;
  width: 5%;
  position: absolute;
  transition: all 1s;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li:first-child {
    margin-top: 20px;
  }

  i {
    color: white;
    font-size: 28px;
  }

  &:hover {
    position: absolute;
    width: 15%;
    transition: all 1s;

    ul {
      align-items: flex-start;
      margin-left: 20px;
      transition: all 1s;
    }
  }
}

.right {
  float: left;
  height: 100%;
  width: 95%;
  background: rgb(247, 247, 247);
  margin-left: 5%;
}

.header {
  height: 10%;
  background: white;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.212);
}

.content {
  height: 90%;
  padding: 20px;
}

.search-form {
  float: left;
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}

input[type="search"] {
  height: 60%;
  margin-left: 15px;
  padding-left: 8px;
  border: 1px solid grey;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50%;
  transition: all 1s;

  &:focus {
    appearance: none;
    width: 100%;
    transition: all 1s;
    outline: none;
    border: 1px solid skyblue;
    box-shadow: 0px 0px 2px 2px skyblue;
  }
}

button[type="submit"] {
  cursor: pointer;
  height: 60%;
  width: 15%;
  border: 0px;
  background: $sub-color1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
}

.header-right {
  float: right;
  display: flex;
  align-items: center;
  gap: 40px;

  i {
    position: relative;
    color: $sub-color2;
    font-size: 20px;
  }
  p {
    color: rgb(165, 165, 165);
    margin-right: 20px;
  }
}

.badge {
  position: absolute;
  background: red;
  color: white;
  padding: 4px;
  font-size: 10px;
  border-radius: 9px;
  transform: translate(-5px, -5px);
}

.content-title {
  margin: 0px;
  font-weight: 500;
  color: $sub-color1;
  margin-bottom: 20px;
}

@mixin card-left($rgb) {
  border-left: 4px solid $rgb;
}

.card-1 {
  @include card-left(skyblue);
}

.card-2 {
  @include card-left(green);
}

.card-3 {
  @include card-left(darkblue);
}

.card-4 {
  @include card-left(orange);
}

.card {
  background: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.212);
  border-radius: 8px;
  height: 90px;
  width: 200px;
}

.card-left {
  float: left;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  color: $sub-color1;

  h4,
  h5 {
    margin: 0px;
  }
}

.col {
  display: flex;
  gap: 20px;
  div {
    width: 25%;
  }

  &::after {
    clear: both;
  }
}

.mobile-menu {
  display: none;
  justify-content: center;
  align-items: center;
  background: white;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding-right: 2px;
  padding-bottom: 2px;
  border: 1px solid $sub-color2;
  border-radius: 4px;

  i {
    color: $sub-color2;
  }
}

.card-icon {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sub-color2;
  font-size: 40px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 1000px;
    width: 600px;
  }
  .header {
    height: 5%;
  }

  .mobile-menu {
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }

  .search-form {
    display: none;
  }

  .header-right {
    display: none;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
      display: flex;
      width: 100%;
    }
  }

  .card-icon {
    justify-content: right;
  }
}
