@font-face {
  font-family: "이쁜폰트";
  src: url(../font/NanumSquareAcB.woff);
}

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "이쁜폰트";
}

p {
  transform: rotate(0.03deg);
  margin: 0px;
  vertical-align: top;
}

.header {
  display: flex;
  width: 200px;
  justify-content: center;
  gap: 10px;
}

.header div {
}
