@font-face {
  font-family: "이쁜폰트";
  src: url(../font/NanumSquareAcB.woff);
}

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "이쁜폰트";
}

p {
  transform: rotate(0.03deg);
  margin: 0px;
  vertical-align: top;
}

.header {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  background-color: rgba(220, 20, 60, 0.774);
}

.header div {
  color: white;
}

.test {
  width: 50rem;
  height: 50vh;
  background-color: grey;
}
