.container {
  width: 800px;
  height: 400px;
}

.left {
  width: 70%;
  height: 400px;
  background-color: antiquewhite;
  vertical-align: top;
  float: left;
}

.right {
  width: 30%;
  height: 400px;
  background-color: coral;
  float: left;
}

.left-header {
  width: 100%;
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.profile {
  border-radius: 40px;
  width: 60px;
  float: left;
}

.profile-box {
  float: left;
  padding: 2px;
}

.nickname {
  margin-top: 1px;
  margin-bottom: 1px;
}

.ago {
  margin-top: 1px;
  margin-bottom: 1px;
}

.left-content {
  width: 100%;
  height: 80%;
  background-color: blueviolet;
}
