.container {
  width: 800px;
  height: 400px;
}

.left {
  width: 70%;
  height: 400px;
  background-color: antiquewhite;
  vertical-align: top;
  float: left;
}

.right {
  width: 30%;
  height: 400px;
  background-color: coral;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-header {
  width: 100%;
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.profile {
  border-radius: 40px;
  width: 60px;
  float: left;
}

.profile-box {
  float: left;
}

.nickname p {
  margin-top: 6px;
  margin-bottom: 1px;
}

.ago p {
  margin-top: 1px;
  margin-bottom: 1px;
  color: gray;
}

.left-content {
  width: 100%;
  height: 80%;
  background-color: rgb(159, 147, 170);
}

.left-title {
  padding: 10px 10px;
}

.left-detail {
  padding: 10px 10px;
}

.right img {
  height: 80%;
  width: 80%;
}

.navbar > li {
  display: inline-block;
}
